streamlit
streamlit-webrtc
streamlit-lottie
Pillow
numpy
opencv-python-headless
gTTS
googletrans==3.1.0a0
elevenlabs
easyocr
pytesseract
nltk
wordcloud
matplotlib
pandas
scikit-learn
tensorflow-cpu
torch --extra-index-url https://download.pytorch.org/whl/cpu
ultralytics
langchain
langchain-community
langchain-openai
PyPDF2
faiss-cpu
openai
tiktoken
