streamlit
wordcloud
matplotlib
pandas
numpy
Pillow
ultralytics
torch
torchvision
setuptools
gTTS
googletrans==3.1.0a0
elevenlabs
deep-translator
bokeh==2.4.3
streamlit-bokeh-events
contourpy
packaging
PyYAML
tornado
xyzservices
streamlit-webrtc
opencv-python-headless
pytesseract
textblob
streamlit-lottie
scikit-learn
nltk
pypdf
keras
tensorflow
