streamlit
streamlit-webrtc
streamlit-lottie
Pillow
numpy
opencv-python-headless
gTTS
googletrans==3.1.0a0
elevenlabs
easyocr
pytesseract
nltk
wordcloud
matplotlib
pandas
scikit-learn
tensorflow
keras
torch
ultralytics
langchain
langchain-community
langchain-openai
langchain-text-splitters
PyPDF2
faiss-cpu
openai
tiktoken
